@use '../scss/vars' as *;

/*GENERICS:*/
body{
    background-size: cover;
    background-image: linear-gradient( #b71b1b 75% , rgb(233, 233, 233) 25%);
}
main{
    margin: 20px auto;
    width: 70%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.714);
    border-radius: 25px;
    color: white;
    padding: 10px;
}
h1{
    font-size: 70px;
}
/*UTILITY:*/
.title_font{
    font-family: $main-font;
    color: rgb(255, 255, 0);
}
/*Loading:*/
.loading{
    text-align: center;
    margin-top: 50%;
}
.icon_spin{
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% {
        transform: rotate(1turn);
    }
}